.login-header {
    height: 100vh;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}

.input-button {
    background-color: #53c8f0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    width: 60%;
    transition: 0.5s;
    padding: 4px 20px;
    border-radius: 20px;

}

.login-system-form {
    margin-top: 100px;
}

.form-input:focus {
    border: 0px;
}

.text-input {
    /* margin: 40px 00px 00px 0px; */
    display: block;
    padding: 0px 10px;
    margin: 10px 00px;
    width: 75%;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(218, 207, 207);
    border: none;
}


.input-button:hover {
    background-color: #00b8f5;
    color: black;

}

.form-input input {
    /* margin: 20px 00px; */
}

.header-card {
    border-radius: 50px;
    padding: 20px;
}